# requirements.txt

xhtml2pdf==0.2.11
python-bidi==0.4.2
Flask
Flask-Session
Werkzeug
supabase
postgrest
gotrue
realtime
storage3
python-dotenv
datetime
reportlab

PyPDF2
requests
qrcode
Pillow
simplejson
python-multipart
itsdangerous
Jinja2
MarkupSafe
regex
beautifulsoup4
lxml
cloudinary
